@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat',
  sans-serif;
}

body,
#root {
  font-size: 62.5%;
}

.navBar {
  width: 100px;
  height: 100%;
  background: black;
  font-size: 3em;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.navBarList {
  text-align: center;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.navBarItem {
  margin: 0.5em 0;
  font-size: 1.5em;
}

.item {
  color: white;
  text-decoration: none;
}